  /* Common styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
    width: 100%;
    height: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.sym {
    color: orangered;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}
.sym img{
   
  width: 60%;
  height: 20%;
}
.back {
    margin-right: 10px;
}

button {
    height: 30px;
    width: 80px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: white;
    border: 2px solid black;
}

button:hover {
    color: red;
    font-weight: bold;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid black;
    font-size: 1rem;
    margin-left: 1%;
    margin-right: 1%;
}

.marquee {
    display: flex;
    flex-direction: column;
}

.marq1 p {
    color: red;
    font-size: 1rem;
    font-weight: bold;
    display: inline;
}

.fa-newspaper {
    height: 1.5rem;
}

p a:hover {
    color: red;
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .sym {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .back {
        margin-right: 0;
        margin-top: 10px;
        border: 2px solid black;
    }

    .container {
        margin-top: 10px;
    }

    .marquee {
        flex-direction: column;
    }

    .marq1 p {
        font-size: 0.8rem;
    }
}